.homepage {
  height: 100vh;
  background: linear-gradient(122.19deg, #da2079 1.89%, #2a00d5 113.56%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.board {
  height: 90vh;
  width: 95vw;
  background: rgb(29 52 52);
  border-radius: 6px;
  overflow-y: auto;
}

.add-edit-input {
  outline: none;
  border: none;
  height: 30px;
  font-size: 25px;
  border-radius: 8px;
  margin-left: 11px;
}
.logo {
  cursor: pointer;
  margin-bottom: -7px;
  color: white;
}
.top-styling {
  background: #e05959;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 45px;
}
.top-styling > h1 {
  color: white;
  padding: 5px 10px;
}
.input-styling {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: relative;
  border-radius: 3px;
}
.add-confirm-icon {
  position: relative;
  transform: scale(2);
  cursor: pointer;
  margin: 7px;
  color: #12d43b;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.todo > h1 {
  width: 700px;
  background-color: rgb(211, 211, 211);
  padding: 5px 10px;
  border-radius: 8px;
}

.edit-button {
  cursor: pointer;
  margin-left: 10px;
  color: white;
}
.delete-button {
  cursor: pointer;
  margin-left: 10px;
  color: red;
}

.logout-icon {
  cursor: pointer;
  position: absolute;
  background: red;
  color: white;
  margin-left: 359px;
  margin-right: 45px;
  border-radius: 30px;
}
